# BW \#63 Ukraine Aid

Which countries have been helping Ukraine the most? Has that changed over time?

After months of political gridlock, the US Congress has passed a bill to give military aid to Ukraine. Numerous reports say that other countries (including many from Europe) have been helping Ukraine to defend itself from Russia, but that US aid was particularly important. Is the allocated $60 billion enough? 

## Data and seven questions
We ll look at the data set from February desbribing what aid Ukraine had received so far. We'll explore who has donated, what they have donated and even where Ukrainian refugees have gone. 

The data comes from the Kiel Institute for the World Economy (http://www.ifw-kiel.de/), located in the northern German city of Kiel. Their Ukraine Support Tracker (https://www.ifw-kiel.de/publications/ukraine-support-tracker-data-20758/) looks at all of the country-to-country ("bilateral") support that Ukraine has received since Russia invaded in January 2022. This means that it ignores assistance provided by individuals and non-profits.

The latest update to their data and reporting, published in February, is available from here:

https://www.ifw-kiel.de/publications/ukraine-support-tracker-data-20758/

## Challenges
The learning goals include turning troublesome text into datetime columns, pivot tables, grouping with datetime data, sorting, and plotting.

- Turn the "Bilateral assistance, main data" tab from the Excel file into a data frame. Make sure the "Announcement Date" column is in datetime format, ignoring any rows where that column is missing or where the datetime isn't in YYYY-MM-DD format.
- Calculate how many rows in the data set describe each kind of specific assistance.

In [1]:
import pandas as pd

In [13]:
filename = r"C:\Users\npigeon\Git\BW #63 Ukraine aid\97d5c1a6-7ed8-4576-b666-ee91f20ae58f-Ukraine_Support_Tracker_Release_18.xlsx"
df = pd.read_excel(filename, 
                   sheet_name='Bilateral Assistance, MAIN DATA', # = 2
                   parse_dates=['Announcement Date']
                   ).dropna(subset = 'Announcement Date')

- Turn the entire column into string values with “astype”, assigning it to a new column, “date”
- Using the “str.contains” method to keep only those rows in YYYY-MM-DD format
- Invoke “pd.to_datetime” on the remaining values in the “date” column
- Use “drop” to remove the old “Announcement Date” column

In [14]:
df

,ID,Countries,Announcement Date,Type of Aid General,Type of Aid Specific,Explanation,Original Currency,Type of donation,Monetary Value as Given by Source,Items,...,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91
0,AUH1,Australia,2022-03-01 00:00:00,Humanitarian,Assistance,Australia has committed immediate humanitarian...,AUD,Allocation,35000000,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AUH2,Australia,2022-03-20 00:00:00,Humanitarian,Equipment,"A shipment of 70,000 tons of thermal coal has ...",AUD,Allocation,32600000,ton of coal,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AUH3,Australia,2022-03-20 00:00:00,Humanitarian,Assistance,The Australian government announced 30 million...,AUD,Allocation,12000000,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AUH4,Australia,2022-03-20 00:00:00,Humanitarian,Assistance,The Australian government announced 30 million...,AUD,Allocation,10000000,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AUH5,Australia,2022-03-20 00:00:00,Humanitarian,Assistance,The Australian government announced 30 million...,AUD,Allocation,8000000,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3732,EIF7,European Investment Bank,2024-06-11 00:00:00,Financial,Loan,The EIB is lending EUR 100 million to reconstr...,EUR,Allocation,10000000,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3733,EIF8,European Investment Bank,2024-06-11 00:00:00,Financial,Loan,The EIB is lending EUR 100 million to reconstr...,EUR,Allocation,10000000,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3734,EIF9,European Investment Bank,2024-06-11 00:00:00,Financial,Loan,The EIB is lending EUR 100 million to reconstr...,EUR,Allocation,10000000,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3735,EIF10,European Investment Bank,2024-06-11 00:00:00,Financial,Grant,The EIB is providing EUR 400 000 to Naftogaz U...,EUR,Allocation,400000,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3736,EIF11,European Investment Bank,2024-06-11 00:00:00,Financial,Grant,The EIB and European Commission have announced...,EUR,Allocation,10000000,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN